.rates__item {
  display: flex;
  width: 80%;
  position: relative;
  padding: 24px 0;
}

.rates__item::after {
  content: '';
  display: block;
  height: 2px;
  background: rgba(128, 128, 128, 0.2);
  width: 100%;
  position: absolute;
  bottom: 0;
}

.rates__item:last-child::after {
  display: none;
}

.rates__item-text {
  margin: 0;
  color: #434343;
}

.rates__item-text_black {
  font-weight: 500;
  color: var(--black-color);
  min-width: 33%;
}

@media screen and (max-width: 1000px) {
  .rates__item {
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 550px) {
  .rates__item {
    flex-direction: column;
  }
}
