:root {
  --main-text-color: #1c1c1e;
  --blue-color: #003cff;
  --white-color: #ffffff;
  --pink-color: #b4387a;
}

.page {
  max-width: 1300px;
  margin: 0 auto;
  background-color: #f5f4ff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--main-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
