.btn {
  box-sizing: border-box;
  height: 40px;
  padding: 3px 20px;
  color: var(--white-color);
}

.btn_small {
  width: 96px;
}

.btn_medium {
  width: 126px;
}

.btn_big {
  width: 160px;
}

.btn_blue {
  background-color: #003cff;
}

.btn_red {
  background-color: #d93737;
}
