.features {
  padding-top: 112px;
  display: flex;
  justify-content: space-between;
}

.features__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features__title {
  margin: 0;
  font-weight: 500;
  font-family: var(--second-font-family);
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
}

.features__text {
  margin: 20px 0 0 0;
  font-family: var(--second-font-family);
  color: #4f5665;
  line-height: 30px;
  font-weight: 400;
}

.features__list {
  list-style: none;
  margin: 25px 0 0 0;
  padding: 0;
}

.features__item {
  margin: 0 0 10px 0;
  display: flex;
}

.features__item:last-of-type {
  margin: 0;
}

.features__item-text {
  margin: 0 0 0 16px;
  font-family: var(--second-font-family);
  color: #4f5665;
  line-height: 30px;
  font-weight: 400;
}
