.link-button {
  display: inline-block;
  font-weight: 700;
  background-color: var(--blue-color);
  border-radius: 16px;
  padding: 16px;
  color: var(--white-color);
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s linear;
}

.link-button:hover {
  background-color: #7796c0;
  color: var(--white-color);
}
