.offers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding-bottom: 96px;
}

@media screen and (max-width: 1299px) {
  .offers {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
}

@media screen and (max-width: 668px) {
  .offers {
    grid-template-columns: repeat(1, 1fr);
  }
}
