.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
}

.about__item {
  padding: 32px;
  border-radius: 28px;
  background-color: #eaecee;
  max-width: 630px;
}

.about__item:nth-child(1) {
  width: 406px;
}

.about__item:nth-child(2) {
  width: 406px;
}

.about__item:nth-child(3) {
  width: 406px;
}

.about__item:nth-child(2n) {
  background-color: #7f92acb2;
}

.about__item-title {
  margin: 24px 0 16px;
  font-size: 30px;
  line-height: 44.22px;
}

.about__item-subtitle {
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .about {
    justify-content: space-around;
  }

  .about__item {
    max-width: 406px;
  }
}
