.form-item {
  display: flex;
  flex-direction: column;
}

.form-item__label {
  margin-bottom: 8px;
}

.form-item__input {
  background: linear-gradient(to right, rgba(249, 245, 227, 1), rgba(249, 245, 227, 1));
  height: 40px;
  width: 297px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 6px;
  padding: 13px 16px;
  box-sizing: border-box;
  outline: none;
}

.form-item__input::-webkit-outer-spin-button,
.form-item__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-item__input::-webkit-calendar-picker-indicator {
  margin-right: 25px;
}

.form-item__input:focus {
  border: 1px solid #5b35d5;
}

.form-item__input::placeholder {
  color: #808080;
  font-size: 14px;
  line-height: 14px;
}

.form-item__select {
  background: linear-gradient(to right, rgba(249, 245, 227, 1), rgba(249, 245, 227, 1));
  height: 40px;
  width: 297px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 6px;
  padding-left: 16px;
  box-sizing: border-box;
}

.form-item__select:focus {
  outline: 1px solid #5b35d5;
}

@media screen and (max-width: 500px) {
  .form-item {
    width: 100%;
  }

  .form-item__input {
    width: 100%;
  }

  .form-item__select {
    width: 100%;
  }
}
