.tooltip-container {
  display: flex;
  cursor: pointer;
  position: relative;
}

.tooltip-text {
  position: absolute;
  width: 170px;
  padding: 8px 7px 10px;
  justify-content: center;
  color: var(--white-color);
  background-color: #3d3d3d;
  font-size: 12px;
  line-height: 12px;
  top: 50px;
}
